<h2>Nuevo Movil - Formulario</h2>
<div class="container-fluid">
    <form class="form-horizontal col-md-12" name="form" ng-submit="$ctrl.guardar()" novalidate>
        <h4>Caracteristicas generales:</h4>
        <div class="form-group" >
          <label for="phoneId" class="col-sm-2 control-label">Modelo:</label>
          <div class="col-sm-4" ng-class="($ctrl.form.id.$valid && $ctrl.form.$pristine)?'has-success':'has-error'">
            <input type="text" 
                   class="form-control" 
                   id="phoneId" name="id"
                   ng-model="$ctrl.form.id" required placeholder="Inserte el nombre del modelo del movil">
            <p class="help-block" ng-hide="$ctrl.form.id.$valid || $ctrl.form.$pristine">
              Este campo es necesario
            </p>
          </div>
          <label for="phoneName" class="col-sm-2 control-label">Nombre:</label>
          <div class="col-sm-4" ng-class="($ctrl.form.name.$valid && $ctrl.form.$pristine)?'has-success':'has-error'">
            <input type="text" 
                   class="form-control" 
                   id="phoneName" name="name"
                   ng-model="movil.nombre" required placeholder="Inserte el nombre del movil">
            <p class="help-block" ng-hide="$ctrl.form.name.$valid || $ctrl.form.$pristine">
              Este campo es necesario
            </p>
          </div>
        </div>
        <div class="form-group">
          <label for="phoneSnippet" class="col-sm-2 control-label">Descripcion Inicial:</label>
          <div class="col-sm-10">
            <textarea class="form-control" id="phoneSnippet"name="snippet" ng-model="$ctrl.form.snippet" rows="3" placeholder="Describa el movil"></textarea>
          </div>
        </div>
        <div class="form-group">
            <label for="phoneImg" class="col-sm-2">Inserte una imagen del Movil:</label>
            <div class="col-sm-10">
              <input type="text" id="phoneImg" name="imageUrl" ng-model="$ctrl.form.imageUrl">
              <!-- <input type="file" id="phoneImg" ng-model="movil.imageUrl"> -->
              <p class="help-block">Inserte la url de la fotografia.</p>
            </div>
          </div>
        <hr>
        <h4>Caracteristicas tecnicas:</h4>
        <div class="form-group">
            <label for="phoneRam" class="col-sm-2 control-label">RAM:</label>
            <div class="col-sm-1 {{($ctrl.form.ram.$valid && $ctrl.form.$pristine)?'has-success':'has-error'}}">
              <input type="number" name="storage.ram" class="form-control" id="phoneRam" required ng-model="$ctrl.form.ram" placeholder="0">
              <p class="help-block" ng-hide="$ctrl.form.ram.$valid || $ctrl.form.$pristine">
                Este campo es necesario
              </p>
            </div>
            <label for="phoneFlash" class="col-sm-2 control-label">Flash:</label>
            <div class="col-sm-1 {{($ctrl.form.flash.$valid && $ctrl.form.$pristine)?'has-success':'has-error'}}">
              <input type="number" name="storage.flash" class="form-control" id="phoneFlash" required ng-model="$ctrl.form.flash" placeholder="0">
              <p class="help-block" ng-hide="$ctrl.form.flash.$valid || $ctrl.form.$pristine">
                Este campo es necesario
              </p>
            </div>
            <label for="phoneAge" class="col-sm-3 control-label">Años desde la entrada en servicio:</label>
            <div class="col-sm-1 {{($ctrl.form.age.$valid && $ctrl.form.$pristine)?'has-success':'has-error'}}">
              <input type="number" name="age" class="form-control" id="phoneAge" required ng-model="$ctrl.form.age" placeholder="0">
              <p class="help-block" ng-hide="$ctrl.form.age.$valid || $ctrl.form.$pristine">
                Este campo es necesario
              </p>
            </div>
        </div>
        <div class="form-group">
          <label for="soPhone" class="control-label col-sm-2">Version del Sistema Operativo:</label>
          <div class="col-sm-3">
              <select class="form-control" id="soPhone"  ng-model="$ctrl.form.so" ng-change="$ctrl.change($ctrl.form.so)">
                <option ng-model="$ctrl.form.so" value="{{$index}}" ng-repeat="so in $ctrl.so">{{so.nombre}}</option>
              </select>
            </div>
          <div class="col-sm-3">
            <select class="form-control" id="soPhone">
              <option ng-model="$ctrl.form.android" ng-repeat="ver in $ctrl.version">{{ver.os}} {{ver.ui}}</option>
            </select>
          </div>
        </div>
        <div class="form-group col-sm-2">
            <label class="control-label">Caracteristicas extras:</label>
        </div>
        <div class="form-group col-sm-10">
            <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox1" name="connectivity.gps" ng-model="$ctrl.form.gps" ng-value="true"> GPS
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox2" ng-model="$ctrl.form.infrared" ng-value="true"> Infrared
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox3" ng-model="$ctrl.form.touchScreen" ng-value="true"> Pantalla tactil
              </label>
              <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox4" ng-model="$ctrl.form.accelerometer" ng-value="true"> Acelerometro
              </label>
              <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox5" ng-model="$ctrl.form.fmRadio" ng-value="true"> Radio FM
              </label>
              <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox6" ng-model="$ctrl.form.physicalKeyboard" ng-value="true"> Teclado fisico
              </label>
        </div>
        <div class="form-group">
            <label for="phoneWifi" class="col-sm-2 control-label">Bandas de wifi:</label>
            <div class="col-sm-2">
              <input type="radio" name="wifi" id="phoneWifi" ng-model="$ctrl.form.wifi" value="802.11a" checked > 802.11a <br>
              <input type="radio" name="wifi" id="phoneWifi" ng-model="$ctrl.form.wifi" value="802.11ac"> 802.11ac <br>
              <input type="radio" name="wifi" id="phoneWifi" ng-model="$ctrl.form.wifi" value="802.11b"> 802.11b <br>
              <input type="radio" name="wifi" id="phoneWifi" ng-model="$ctrl.form.wifi" value="802.11g"> 802.11g <br>
              <input type="radio" name="wifi" id="phoneWifi" ng-model="$ctrl.form.wifi" value="802.11n"> 802.11n <br>
            </div>
            <label for="phoneCell" class="col-sm-2 control-label">Bandas de frecuencia:</label>
            <div class="col-sm-2">
              <input type="radio" name="cell" id="phoneCell" ng-model="$ctrl.form.cell" value="4G 800/1800/2600" checked > 4G 800/1800/2600 <br>
              <input type="radio" name="cell" id="phoneCell" ng-model="$ctrl.form.cell" value="3G 900/2100"> 3G 900/2100 <br>
              <input type="radio" name="cell" id="phoneCell" ng-model="$ctrl.form.cell" value="2G 900/1800"> 2G 900/1800 <br>
              <input type="radio" name="cell" id="phoneCell" ng-model="$ctrl.form.cell" value="GSM 850/900/1800/1900"> GSM 850/900/1800/1900 <br>
              <input type="radio" name="cell" id="phoneCell" ng-model="$ctrl.form.cell" value="WCDMA 850/1700/2100"> WCDMA 850/1700/2100 <br>
            </div>
            <label for="phoneResolution" class="col-sm-2 control-label">Resolucion de la camara:</label>
            <div class="col-sm-2">
              <input type="radio" name="resol" id="phoneResolution" ng-model="$ctrl.form.primary" value="3.0 megapixels" checked > 3.0 megapixels <br>
              <input type="radio" name="resol" id="phoneResolution" ng-model="$ctrl.form.primary" value="5.0 megapixels"> 5.0 megapixels <br>
              <input type="radio" name="resol" id="phoneResolution" ng-model="$ctrl.form.primary" value="8.0 megapixels"> 8.0 megapixels <br>
              <input type="radio" name="resol" id="phoneResolution" ng-model="$ctrl.form.primary" value="12.0 megapixels"> 12.0 megapixels <br>
              <input type="radio" name="resol" id="phoneResolution" ng-model="$ctrl.form.primary" value="16.0 megapixels"> 16.0 megapixels <br>
            </div>
        </div>
        <hr>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" class="btn btn-success" ng-disabled="form.$invalid" value="Guardar">
          </div>
        </div>
      </form>

</div>