<div class="container-fluid">
    <h1>Listado de los moviles comprados</h1>
    
    <table class="table table-striped text-center">
        <thead class="thead-dark">
            <th>Movil</th>
            <th>Modelo</th>
            <th>Caracteristicas</th>
            <th>Cantidad</th>
            <th></th>
        </thead>
        <tbody>
            <tr ng-repeat="movil in $ctrl.comprarMovil()">
                <td><img ng-src="{{movil.imagen}}" alt="{{movil.name}}" width="150px"></td>
                <td>{{movil.name}}</td>
                <td> 
                    <li>Flash: {{movil.flash}} MB</li>
                    <li>RAM: {{movil.ram}} MB</li>
                </td>
                <td class="danger">{{movil.cantidad}}</td>
                <td><button type="button" class="btn btn-danger" ng-click="$ctrl.eliminar($ctrl.movil.id)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td>
            </tr>
        </tbody>
    </table>
</div>