<div class="container-fluid">
    <h1>Listado de los moviles comprados</h1>
    <table class="table table-striped">
        <thead class="thead-dark">
            <th>Movil</th>
            <th>Modelo</th>
            <th>Caracteristicas</th>
            <th>Cantidad</th>
            <th></th>
        </thead>
        <tbody>
            <tr class="test-center" ng-repeat="movil in $ctrl.comprarMovil() track by $index">
                <td><img ng-src="{{movil.imageUrl}}" alt="{{movil.name}}" width="150px"></td>
                <td>{{movil.name}}</td>
                <td>
                    <ul>
                        <li>Flash: {{movil.storage.flash}} MB</li>
                        <li>RAM: {{movil.storage.ram}} MB</li>
                    </ul>
                </td>
                <td class="danger"></td>
                <td><button type="button" class="btn btn-danger" ng-click="$ctrl.eliminar($ctrl.movil.id)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td>
            </tr>
        </tbody>
    </table>
</div>