<h2>Comparador</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
    <h4>Listado Movil</h4>
    <p>
      Search:
      <input ng-model="$ctrl.query"/>
    </p>
    <ul class="list-group">
      <li class="list-group-item" 
          ng-repeat="phone in $ctrl.phones | filter:$ctrl.query"
          ng-click="$ctrl.seleccionar(phone)">
        <img ng-src="{{phone.imageUrl}}" alt="{{phone.name}}" class="responsive">
        {{phone.name}}
      </li>
    </ul>
    </div>
    <div class="col-md-5">
        <h3 class="text-center">{{$ctrl.phone1.name}}</h3>
        <img ng-src="{{$ctrl.phone1.imageUrl}}" alt="{{$ctrl.phone1.name}}" class="responsive">
        <div class="row text-center" ng-show="(($ctrl.phone1.name)?true:false)">
          <div class="col-md-8">Flash: {{$ctrl.phone1.storage.flash}}</div>
          <div class="col-md-4" ng-style="(($ctrl.difFlash1 == 0)?{color: 'blue'}:(($ctrl.difFlash1 < 0)?{color: 'red'}:{color: 'green'}))">
              {{(($ctrl.difFlash1 == 0)?'=':$ctrl.difFlash1)}} MB
          </div>  
        </div>
        <div class="row text-center" ng-show="(($ctrl.phone1.name)?true:false)">
            <div class="col-md-8">RAM: {{$ctrl.phone1.storage.ram}}</div>
            <div class="col-md-4" ng-style="(($ctrl.difRam1 == 0)?{color: 'blue'}:(($ctrl.difRam1 < 0)?{color: 'red'}:{color: 'green'}))">
              {{(($ctrl.difRam1 == 0)?'=':$ctrl.difRam1)}} MB
            </div> 
        </div>
    </div>
    <div class="col-md-5 pb-2">
        <h3 class="text-center">{{$ctrl.phone2.name}}</h3>
        <img ng-src="{{$ctrl.phone2.imageUrl}}" alt="{{$ctrl.phone2.name}}" class="responsive">
        <div class="row text-center" ng-show="(($ctrl.phone2.name)?true:false)">
            <div class="col-md-8">Flash: {{$ctrl.phone2.storage.flash}}</div>
            <div class="col-md-4" ng-style="(($ctrl.difFlash2 == 0)?{color: 'blue'}:(($ctrl.difFlash2 < 0)?{color: 'red'}:{color: 'green'}))"> 
              {{(($ctrl.difFlash2 == 0)?'=':$ctrl.difFlash2)}} MB
            </div>  
          </div>
          <div class="row text-center" ng-show="(($ctrl.phone2.name)?true:false)">
              <div class="col-md-8">RAM: {{$ctrl.phone2.storage.ram}}</div>
              <div class="col-md-4" ng-style="(($ctrl.difRam2 == 0)?{color: 'blue'}:(($ctrl.difRam2 < 0)?{color: 'red'}:{color: 'green'}))"> 
                {{(($ctrl.difRam2 == 0)?'=':$ctrl.difRam2)}} MB
              </div> 
          </div>
    </div>
  </div>
</div>
