<h2>Comparador</h2>
<div class="container-fluid">
  <div class="row">
      <!-- 1ยบ columna -->
        <div class="col-md-2">
          <h4>Listado Movil</h4>
          <p>
              Busqueda por modelo:
              <input ng-model="$ctrl.query.id"/>
          </p>
          <p>
            <label for="resolucion" class="control-label">Resolución de la camara:</label>
            <select class="form-control" id="resolucion" ng-model="$ctrl.query.camera.primary">
              <option ng-repeat="res in $ctrl.resolute" value="{{res}}" >{{res}}</option>
            </select>
          </p>
          <ul class="list-group">
              <li class="list-group-item" 
                  ng-repeat="phone in $ctrl.phones | filter:$ctrl.query"
                  ng-click="$ctrl.seleccionar(phone)">
                      <img ng-src="{{phone.imageUrl}}" alt="{{phone.name}}" class="responsive">
                      {{phone.name}}
                      <div class="alert alert-danger alert-dismissible" role="alert" ng-show="($ctrl.alertaId == phone.id)">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <strong>Atencion</strong> Este telefono quiere ser comprado.
                      </div>
              </li>
          </ul>
          
        </div> 
      <!-- 2ยบ columna -->
        <div class="col-md-4">
          <phone-comparador-card mostrar="$ctrl.phone1" comparar="$ctrl.phone2"></phone-comparador-card>
        </div>
          <!-- 3ยบ columna -->
        <div class="col-md-4">
          <phone-comparador-card mostrar="$ctrl.phone2" comparar="$ctrl.phone1"></phone-comparador-card>
        </div>
        <!-- 4 columna -->
        <div class="col-md-2">
            <h4>Moviles comprados</h4>
            <ul class="list-group"> 
               <li class="list-group-item" ng-repeat="(key,movil) in $ctrl.comprarMovil()">{{movil.id}} x {{movil.cantidad}}</li> 
            </ul>
        </div>
  </div> <!-- end row -->

</div>
